animate ellipse javascript
animate ellipse javascript

.loading {

}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
  animation: ellipsis steps(4,end) 2000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

textarea {
    
    width: 98%;
    font-size: 2em;
    
}

textarea.oneline {

    height: 1.4em;

}

textarea.sms {

    height: 20em;

}

button.medium {

    height: 2em;
    width: 25em;
    font-size: 1em;

}
